################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PublicTechExpo/.vs/PublicTechExpo/v15
/PublicTechExpo/ClassLibrary1/obj/Debug
/PublicTechExpo/ClassLibrary1/bin/Debug
