################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PublicTechExpo/.vs/PublicTechExpo/v15
